@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Montserrat";
    box-sizing: border-box;
    margin: 0px;
}

:root{
    --blue: #1B6B98;
    --light-blue: rgba(27,107,152,0.75);
    --green: #00ff00;
    --light-green: rgba(0,255,0,0.75);
}

#content-area{
    width: 90%;
    display: block;
    margin: auto;
    
}
#content-area-import{
    width: 90%;
    display: block;
    margin: 10px auto;
    min-height: fit-content;
    padding-bottom: 10px;
    overflow: hidden;
    border: 3px dashed #000;
    border-radius: 1rem;
    background: linear-gradient(#eee, #eee);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.search-form{
    display: flex;
    justify-content: center;
}

#selected-file{
    margin-top: 2rem;
    min-width: 40%;
    min-height: 30px;
    border-radius: 25px 0 0 25px;
    padding: 1rem;
    font-size: 1rem;
    accent-color: var(--blue);
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px #000;

}

#submit-selected-file{
    margin-top: 2rem;
    min-width: 40px;
    min-height: 30px;
    border-radius: 0 25px 25px 0;
    margin-left: 10px;
    outline: none;
    border: none;
    background-color: orange;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;

}

.upload-area{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10px;
    align-items: center;
    background: url(../assets/cloud-upload-outline.svg); 
    background-size: 200px 200px;
    background-position: top center;
    background-repeat: no-repeat;
}

.upload-area input[type="submit"]{
    display: block;
    margin: 1.4rem auto 15px auto;
    background-color: #000;
    font-size: 1.1rem;
    padding: 0.8rem;
    color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 1rem;
    transition: all .3s;
}

.upload-area input[type="submit"]:hover{
    transform: translateY(-5px);
}

.w-login-btn{
    display: block;
    background-color: #000;
    font-size: 1.1rem;
    padding: 0.8rem;
    color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 1rem;
    margin-bottom: 10px;
    transition: all .3s;
}

.w-login-btn:hover{
    transform: translateY(-5px)
}

.upload-action{
    display: grid;
    place-content: center;
    margin-top: 10px;
}

.action-save{
    color: #fff;
    background-color: var(--light-green);
    padding: 10px;
    margin: 10px 0 0 1rem;
    outline: none;
    border: 2px solid #000;
    border-radius: 20px;
}

.action-save:hover{
    background-color: var(--green);
    box-shadow: 0 0 2px #000;
}

.text-input{
    display: block;
}

.submit-input{
    display: grid;
    place-content: center;
    background-color: #000;
    color: #fff;
}